//	@ Author: Consensus Interactive
//	@ Author URI: ConsensusInteractive.com
//	@ Description: Wordpress Helper Classes

// @ Typography Classes
.caps { text-transform: uppercase; }
.thin { font-weight: 100; }

// @ Visibility classes
.mobile-only {
	display: none;
	@include breakpoint(up-to-large) {
		display: block;
	}
}

.desktop-only {
	display: none;
	@include breakpoint(large) {
		display: block;
	}
}

// @ Alignment classes
.text-center { text-align: center; }
.text-right { text-align: right; }
.floatleft { float: left; }
.floatright { float: right; }
.align-item-center { align-items: center; }

.clear { clear: both; }

.alignnone { margin: em(5) em(20) em(20) 0; }
.aligncenter,
div.aligncenter { display: block; margin: em(5) auto em(5) auto; }

.alignright { float:right; margin: em(5) 0 em(25) em(45); }

.alignleft { float: left; margin: em(5) em(45) em(25) 0;}

a img.alignright { float: right; margin: em(5) 0 em(25) em(45); }

a img.alignnone { margin: em(5) em(25) em(25) 0; }

a img.alignleft { float: left; margin: em(5) em(45) em(25) 0; }

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


// @ Image classes
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// @ Captions classes
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center; }

.wp-caption.alignnone { margin: 5px 20px 20px 0; }

.wp-caption.alignleft { margin: 5px 20px 20px 0; }

.wp-caption.alignright { margin: 5px 0 20px 20px; }

.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }

.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }

// Meant for screen readers
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */ 
}
