/*

	@ Author: Consensus Interactive
	@ Author URI: consensusinteractive.com
	@ Description: Main Styles

*/
.fl-page-header-container .fl-page-header-logo {
  width: 120px;
  float: left !important;
  margin: 0;
  padding: 0; }

.fl-page-nav a.nav-link {
  color: #31606E !important; }

.fl-page-nav .get-started--btn {
  color: #ffffff !important; }
  .fl-page-nav .get-started--btn .nav-link {
    position: relative;
    top: 5px;
    padding: 7.5px 21.5px !important;
    background-color: #31606E !important;
    color: #ffffff !important; }

.footer {
  font-family: "Poppins",sans-serif; }
  .footer a {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 14px; }
  .footer h2.widgettitle {
    color: #BDDCD9;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px; }

.resource--featured-post .fl-post-feed-more {
  color: #31606E;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.2;
  border-bottom: 2px solid #31606E;
  text-decoration: none; }

.resource--posts h2 {
  color: #31606E;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 800; }

.resource--posts p {
  color: #31606E;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.resource--posts .fl-post-grid-image {
  margin-bottom: 30px; }

.resource--posts .fl-post-grid-terms a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 25px;
  background: #333;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; }

.resource--posts .fl-post-grid-more {
  color: #31606E;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.2;
  border-bottom: 2px solid #31606E;
  text-decoration: none; }

.fl-accordion .fl-accordion-button .fl-accordion-button-label:focus {
  outline: none; }
