//	@ Author: Consensus Interactive
//	@ Author URI: ConsensusInteractive.com
//	@ Description: Resource Page styles


.resource--featured-post {

    .fl-post-feed-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 70px;
    }

    h2.fl-post-feed-title {
        order: 1;
    }

    .fl-post-feed-more {
        @include cogito-text-cta();
    }

    .fl-post-feed-terms {
        margin-bottom: 15px;

        a {
            min-width: 140px;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 25px;
            background: $palepink;
            color: $white;
            font-family: $primary-font-stack;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
        }
    }

    .fl-post-feed-image-beside {
        max-width: 100%;
    }

    // .fl-post-feed-image-beside
}

// .resource--featured-post



.category--topics {
    min-width: 140px;
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    background: $palepink;
    color: $white;
    font-family: $primary-font-stack;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;


    &.case-study {
        background-color: #F4783B;
    }

    &.ebook {
        background-color: #690F0F;
    }

    &.featured {
        background-color: #F26B6C;
    }

    &.infographic {
        background-color: #793E5D;
    }

    &.presentation {
        background-color: #17402B;
    }

    &.product-brochure {
        background-color: #B74726;
    }

    &.research {
        background-color: #BF84A4;
    }

    &.video {
        background-color: #287F57;
    }

    &.webinar {
        background-color: #793E5D;
    }

    &.whitepaper {
        background-color: #5988A6;
    }

}


.resource--posts {
    padding-bottom: 60px;
    // basics

    h2 {
        color: $primary-color;
        font-family: $primary-font-stack;
        font-size: 24px;
        font-weight: 800;
    }

    p {
        color: $primary-color;
        font-family: $secondary-font-stack;
        font-size: 16px;
    }

    // image
    .fl-post-grid-image {
        margin-bottom: 30px;
        min-height: 253px;
    }

    // Category/Topic
    .fl-post-grid-meta-terms {
        margin-bottom: 25px;
    }


    .fl-post-grid-terms {
        a {
            display: inline-block;
            padding: 5px 15px;
            border-radius: 25px;
            background: $primary-color;
            color: $white;
            font-family: $primary-font-stack;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    .fl-post-grid-more {
        margin-top: 30px;
        @include cogito-text-cta();
    }

}

// .resource--posts