//	@ Author: Consensus Interactive
//	@ Author URI: ConsensusInteractive.com
//	@ Description: News Page styles

.facetwp-facet-news_categories {
    overflow: hidden;

    .facetwp-counter {
        display: none;
    }

    .facetwp-radio {
        font-family: $primary-font-stack;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        margin: 0 25px 0 0;
        padding: 0 0 5px 0;
        float: left;
        background-image: none;

        &.checked {
            font-weight: 600;
            background-image: none;
            border-bottom: 2px solid $primary-color;
        }
    }
    
}// .news_categories

.news--filter-date {

    .facetwp-facet-title {
        font-size: 16px;
        font-weight: 300;
        float: left;
        margin-top: 2px;
        margin-right: 5px;
    }

    .facetwp-dropdown {
        font-family: $primary-font-stack;
        font-size: 16px;
        font-weight: 300;
        color: $primary-color;
        background: none;
        border: none;
        outline: none;
    }

}

// .news--filter-date


.news--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .news--post-image {
        min-height: 272px;
    }
}

.news--post {
    width: 31.33%;

    h1 {
         font-size: 24px;
         font-weight: 800;
    }
}