//	@ Author: Consensus Interactive
//	@ Author URI: ConsensusInteractive.com
//	@ Description: Event Detail Page styles

.additional-webinars {
    &--column {
        margin-bottom: 80px;
    }

    .event--post {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
        height: 100%;
        padding-bottom: 0;

        a {
            width: 100%;
        }

        .event--post-image {
            width: 100%;
            height: 230px;
            margin-bottom: 20px;
        }

        .event--post-details {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        .event--post-title {
            margin-bottom: 15px !important;
        }

        .event--post-date {
            padding-bottom: 25px;
        }
    }
}

// .additional-webinars 

.event {
    &-content {
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        h2 {
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 60px;
        }

        .events--top-pager {
            position: absolute;
            top: 2px;
            right: 0;
            color: #31606E;
            font-family: Poppins;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 38px;
        }
    }

    &--container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // Event Page Header
    &--header {
        clear: both;
        width: 100%;
        margin-bottom: 25px;
    }

    &--post {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 80px;
        position: relative;
        min-height: 273px;

        @include breakpoint(sm) {
            flex-direction: row;
            padding-bottom: 35px;
        }

        @include breakpoint(lg) {
            width: calc(50% - 24px);
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #3F3F3F;
        }

        a {
            display: block;
            width: 100%;

            @include breakpoint(sm) {
                width: auto;
            }
        }

        .event--post-image {
            width: 100%;
            align-self: stretch;
            display: flex;
            position: relative;
            height: 250px;
            background-position: center;

            @include breakpoint(sm) {
                // height: auto;
                width: 298px;
            }

            span {
                font-family: $primary-font-stack;
                font-size: 16px;
                font-weight: bold;
                line-height: 26px;
                background-color: $primary-color;
                color: #fff;
                padding: 7px 30px;
                display: block;
                width: 100%;
                align-self: flex-end;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .event--post-speakers {
            position: absolute;
            bottom: 18px;
            right: 13px;
            display: flex;
            flex-direction: row;

            .speaker {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 2px solid white;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

                &.is-registered-user {
                    position: relative;
                    left: 10px;

                }

                &.is-custom-speaker {
                    z-index: 1;
                }
            }

        }

        .event--post-details {
            width: 100%;
            padding: 15px 15px;
            position: relative;

            @include breakpoint(sm) {
                width: 50%;
                padding: 0px 15px;
            }

            .event--post-category {
                margin-bottom: 10px;

                span {
                    font-family: $secondary-font-stack;
                    color: $primary-text-clr-light;
                    font-size: 14px;
                    line-height: 19px;
                }

                a {
                    font-size: 13px;
                    font-family: $secondary-font-stack;
                    font-weight: 400;
                    color: $primary-text-clr-light;
                    text-decoration: none;
                }
            }

            .event--post-title {
                font-family: $primary-font-stack;
                margin-bottom: 30px;

                h1 {
                    line-height: 10px;
                    margin-bottom: 0;

                    a {
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 34px;
                        color: $primary-color;
                        margin-bottom: 0;

                        @include breakpoint(sm) {
                            font-size: 26px;
                        }
                    }
                }
            }

            .event--post-excerpt {
                font-family: $secondary-font-stack;
                font-weight: 400;
                margin-bottom: 20px;

                p {
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }

            .event--post-date {
                font-family: $secondary-font-stack;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                color: $primary-color;
            }
        }

        //  Featured post
        &.is-featured-post {
            min-height: 320px;
            width: 100%;
            padding-bottom: 0;

            &:after {
                display: none;
            }

            .event--post-speakers {
                bottom: 8px;
                right: 26px;

                .speaker {
                    width: 45px;
                    height: 45px;

                    @include breakpoint(sm) {
                        width: 70px;
                        height: 70px;
                    }
                }
            }

            .event--post-image {


                @include breakpoint(lg) {
                    min-width: 600px;
                    min-height: 318px;
                }

                a {
                    font-size: 18px;
                    padding: 10px 30px
                }
            }

            .event--post-details {
                padding: 15px 15px;

                @include breakpoint(sm) {
                    width: 50%;
                    padding: 0px 30px 30px 30px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #3F3F3F;

                    @include breakpoint(sm) {
                        left: 30px;
                        right: 30px;
                        width: calc(100% - 60px);
                    }
                }
            }

            .event--post-title {
                h1 {
                    line-height: 10px;

                    a {
                        font-size: 20px;

                        @include breakpoint(sm) {
                            font-size: 30px;
                            line-height: 38px;
                        }
                    }
                }
            }
        }
    }
}

// Facet Filters
.facetwp-facet-event_additional_webinars_pager {
    font-family: $primary-font-stack;
    font-size: 30px;
    font-weight: 400;
    text-align: center;

    .active {
        font-weight: 800;
    }
}