//	@ Author: Consensus Interactive
//	@ Author URI: ConsensusInteractive.com
//	@ Description: News Page styles

.facetwp-facet-news_categories {
    overflow: hidden;

    .facetwp-counter {
        display: none;
    }

    .facetwp-radio {
        font-family: $primary-font-stack;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        margin: 0 20px 0 0;
        padding: 0 0 5px 0;
        float: left;
        background-image: none;

        &.checked {
            font-weight: 600;
            background-image: none;
            border-bottom: 2px solid $primary-color;
        }
    }

}

// .news_categories

.news--filter-date {
    display: none;

    @include breakpoint(lg) {
        display: block;
    }

    .facetwp-facet-title {
        font-size: 16px;
        font-weight: 300;
        float: left;
        margin-top: 2px;
        margin-right: 5px;
    }

    .facetwp-dropdown {
        font-family: $primary-font-stack;
        font-size: 16px;
        font-weight: 300;
        color: $primary-color;
        background: none;
        border: none;
        outline: none;
    }

}

// .news--filter-date


.news--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &.is-awards {
        justify-content: flex-start;
    }

    &.is-press-releases {
        justify-content: flex-start;

        .news--post-image {
            display: none;
        }
    }


    .news--post-image {
        min-height: 272px;
    }

    .is-featured-post {
        width: 100%;
        padding-top: 65px;
        margin-bottom: 150px;

        .news--post-image {
            background-position: center center;
            width: 100%;
            margin-right: 50px;
            margin-bottom: 20px;

            @include breakpoint(lg) {
                max-width: 670px;
                min-height: 425px;
                float: left;
                margin-bottom: 0;
            }
        }

        .news--post-details {
            @include breakpoint(lg) {
                float: left;
                width: 33%;
            }

            h1 {
                @include breakpoint(lg) {
                    font-size: 50px;
                    line-height: 65px;
                }
            }
        }

        .news--post-category {
            margin-bottom: 30px;

            span {
                min-width: 140px;
                display: inline-block;
                padding: 7px 15px;
                border-radius: 25px;
                background: $palepink;
                color: $white;
                font-family: $primary-font-stack;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
            }

        }

        .news--post-permalink {
            a {
                @include cogito-text-cta();
            }
        }
    }


}

.news--post {
    @include breakpoint(md) {
        width: 49%;

    }

    @include breakpoint(lg) {
        width: 31%;

    }

    h1 {
        font-size: 24px;
        font-weight: 800;
    }

    .news--post-image {
        min-height: 272px;
        max-height: 275px;
        margin-bottom: 35px;
        background-position: center center;
    }

    .news--post-details {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .news--post-permalink {
        a {
            @include cogito-text-cta();
        }
    }
}



// Specific styles for each layout
.is-default,
.is-in-the-news {
    .news--post {
        margin-bottom: 80px;
        padding-bottom: 50px;
        border-bottom: 2px solid #D8D8D8;

        .news--post-details {
            min-height: 260px;
            height: auto;
        }

        .news--post-title {
            flex: 1;
            margin-bottom: 40px;
        }

        .post--news-date {
            margin-bottom: 10px;
        }
    }
}

.is-press-releases {
    .news--post {
        margin-right: 25px;
        margin-bottom: 70px;
        padding-top: 30px;
        border-top: 2px solid #D8D8D8;

        .news--post-title {
            flex: 1;
            margin-bottom: 45px;
        }

        .news--post-excerpt {
            display: none;
        }

        .post--news-date {
            margin-bottom: 15px;
        }
    }
}

// .is-press-releases

.is-awards {
    .news--post {
        margin-right: 25px;
        margin-bottom: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #D8D8D8;

        .news--post-permalink {
            display: none;
        }
    }
}

// .is-awards


// Facet Styles
.facetwp-facet-news_loader {
    text-align: center;


    .facetwp-load-more {
        color: $white;
        background-color: transparent;
        font-size: 18px;
        border: 2px solid $primary-text-clr;
        max-width: 180px;
        height: 55px;
        width: 100%;
        font-family: "Poppins";
        font-weight: bold;
        color: $primary-text-clr;
        border-radius: 0;

        &:hover {
            border-color: $primary-text-clr;
            color: $primary-text-clr;
            box-shadow: none;
        }
    }
}