.fl-full-width {
    .fl-page-content {
        .container {
            @include breakpoint(large) {
                max-width: 1190px;
                width: 100%;
            }
        }
    }
}


.fl-builder-edit {
    #fl-main-content {
        padding: 240px 0;
    }
}


//  #fl-main-content {
//     // margin-top: -62px;

//     @include breakpoint(md) {
//             margin-top: -154px;
//     }
// }

#fl-main-content .fl-rich-text {
    @include hyperlink-styles();
}
// .single #fl-main-content,
.archive #fl-main-content {
    // margin-top: -62px;

    @include breakpoint(md) {
        padding-top: 200px;
    }
}