.fl-full-width {
    .fl-page-content {
        .container {
            @include breakpoint(large) {
                max-width: 1190px;
                width: 100%;
            }
        }
    }
}


.fl-builder-edit {
    #fl-main-content {
        padding: 240px 0;
    }
}

#fl-main-content {
    margin-top: -132px;
}