// @ Author: Consensus Interactive
// @ Author URI: ConsensusInteractive.com
// @ Description: Footer


.footer {
    font-family: "Poppins", sans-serif;

    a {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-size: 14px;
    }

    h2.widgettitle {
        color: $teal;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 25px;
    }

    .fl-button-group-buttons {
        .fl-button-group-button {
            margin-bottom: 15px;
        }
    }


    .footer--signup {
        .fl-form-field {
            padding-right: 0;
            width: 66.66%;
            float: left;

            input[type="email"] {
                padding: 15px 24px !important;

                @include breakpoint(lg) {
                    padding: 14.5px 24px !important;
                }
            }

            input[type="email"]::placeholder {
                color: $primary-color;
                font-size: 16px;
            }
        }

        .fl-form-button {
            width: 64px;
            float: left;

            .fl-button {
                border: none !important;
            }

            i {
                color: $primary-color;
            }
        }
    }

    // .footer--signup

    .footer--copyright {

        ul,
        li {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            float: left;
            margin-right: 15px;
            margin-bottom: 5px;

            @include breakpoint(large) {
                margin-right: 40px;
            }
        }
    }
}