// @ Author: Consensus Interactive
// @ Author URI: ConsensusInteractive.com
// @ Description: Header


.top--nav-container {
    .fl-module-content {
        margin: 0;
        padding: 0;
    }
}

.header--container {
    height: 120px;

    .fl-photo-content {
        width: 120px;
    }
}

.fl-page-header-container {
    .fl-page-header-logo {
        width: 120px;
        float: left !important;
        margin: 0;
        padding: 0;
    }
}// .fl-page-header-container

.fl-page-nav {

    a.nav-link {
        color: $primary-color !important;
    }

    .get-started--btn {
        color: $white !important;

        .nav-link {
            position: relative;
            top: 5px;
            padding: 7.5px 21.5px !important;
            background-color: $primary-color !important;
            color: $white !important;
        }
    }

} // .fl-page-nav