// @ Author: Consensus Interactive
// @ Author URI: ConsensusInteractive.com
// @ Description: Header

.fl-theme-builder-header-sticky.fl-theme-builder-header-shrink {
    background-color: $white;

    .top--nav-container {
        display: none;
    }
} // . fl-theme-builder-header-shrink

.top--nav-container {
    .fl-module-content {
        margin: 0;
        padding: 0;
    }
}// .top--nav-container

.header--container {
    height: 60px;

    // Constrains Logo within container
    .fl-photo-content {
        width: 120px;
    }

    // Nav Item Spacing
    li.menu-item {
        margin-right: 15px;
    }

    // Get Started nav Button
    .get-started--btn {
        position: relative;
        margin-right: 0 !important;
        // padding: 5px 21.5px !important;
       
        a {
            top: 5px;
            background-color: $primary-color !important;
            padding: 10.5px 26px !important;
            margin: 0;
            color: $white !important;
        }
    }
}// .header--container

.fl-page-header-container {
    .fl-page-header-logo {
        width: 120px;
        float: left !important;
        margin: 0;
        padding: 0;
    }
}// .fl-page-header-container
 