// @ Author: Consensus Interactive
// @ Author URI: ConsensusInteractive.com
// @ Description: Header

.fl-theme-builder-header-sticky.fl-theme-builder-header-shrink {
    padding: 30px 0 20px;
    background-color: $white;
    box-shadow: 0 0 10px rgba($black, .4);

    .top--nav-container {
        display: none;
    }
} // . fl-theme-builder-header-shrink


.top--nav-container {
    .fl-module-content {
        margin: 0;
        padding: 0;
    }
}// .top--nav-container

.header--container {
    height: 60px;

    // Constrains Logo within container
    .fl-photo-content {
        width: 120px;
    }

    // Nav Item Spacing
    li.menu-item {
        margin-right: 15px;
    }

    // Get Started nav Button

    .mega--menu li:last-child,
    .get-started--btn {
        position: relative;
        margin-right: 0 !important;
        // padding: 5px 21.5px !important;
       
        a {
            top: 5px;
            background-color: $primary-color !important;
            padding: 10.5px 26px !important;
            margin: 0;
            color: $white !important;
        }
    }
}// .header--container

.fl-page-header-container {
    .fl-page-header-logo {
        width: 120px;
        float: left !important;
        margin: 0;
        padding: 0;
    }
}// .fl-page-header-container

.home--featured-hero {
    .fl-button-contact-us {
        position: absolute;
        bottom: 8.5%;
        right: 10%;
        z-index: 20;
    }
    .fl-button-group-buttons {
        .fl-button-group-button {
            @include breakpoint("md-max") {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                width: 100%;
                .fl-button-wrap {
                    width: 100%;
                }
            }  
        }
    }
}
 

// @ Mega menu styles

.mega--menu {
    .mega-menu-saved-row-container {
        padding-top: 29px;
    }

    // Custom, I Want To.. Saved Row for Mega Menu
    .fl-builder-content-479,
    .fl-builder-content-511 {
        padding-left: 300px;
    }

}// .mega--menu