.bb-the-latest-posts {
    .fl-module-post-grid, .fl-module-content,
    .fl-post-grid, .fl-post-column, .fl-post-grid-post, .fl-post-grid-text {
        height: 100% !important;
    }
    .fl-post-grid-terms {
        margin-bottom: 15px;
        a {
            font-family: "Poppins";
            font-weight: 700;
            color: $primary-color;
            font-size: 14px;
            text-transform: uppercase;
        }
       
    }
    .fl-post-grid-title {
        a {
            transition: 0.25s ease-in;
            &:hover {
                color: $primary-color-light
            }
        }
    }
    .fl-post-column {
        width: 100% !important;
    }
    .fl-post-grid-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .fl-post-grid-content {
            padding-bottom: 50px;
        }
        .fl-post-grid-more {
            color: $primary-color-light !important;
            font-weight: bold;
            margin-top: auto;
            margin-bottom: 20px;
            border-bottom: 2px solid transparent;
            @include transition(all 0.2s ease-out);

            &:focus,
            &:hover {
                 border-bottom: 2px solid $primary-color-light;

                  i {
                      opacity: 1;
                      margin-left: 10px;
                  }
            }

            i {
                opacity: 0;
                margin-left: 0;
            }
        }
    }

    @include breakpoint("sm-max") {
        .fl-col-group {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .fl-row-content-wrap {
            margin-left: 0;
            margin-right: 0;
            flex-direction: row;
            display: flex;
            width: 100%;
            overflow-y: scroll;
            .fl-col {
                margin: 0 10px !important;
            }
            .fl-post-column, .fl-col {
                width: 300px !important;
                // padding-left: 10px;
                // padding-right: 10px;
                flex-shrink: 0;
            }
        }
    }
    
}