.fl-accordion {
    .fl-accordion-button {
        padding-left:  0;
        .fl-accordion-button-label:focus {
            outline: none;
        }
    }
    .fl-accordion-content {
        padding-left: 0;
    }

    i {
        transition: transform .5s ease 0s;
    }

    .fl-accordion-item-active i {
        transform: rotate(44deg);
    }
}