.section--additional-resources {
    overflow: hidden;

     
    .section--additional-resources-container {
        width: 100% !important;
    }

    .fl-col-content {
        margin-right: 0;
    }

    .fl-post-column {
        width: 100% !important;
        // padding: 0;
        margin: 0;
    }

    .fl-post-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto !important;
      
        /*
 *  STYLE 11
 */

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 10px;
            // background-image: -webkit-linear-gradient(0deg,
            //         rgba(255, 255, 255, 0.5) 25%,
            //         transparent 25%,
            //         transparent 50%,
            //         rgba(255, 255, 255, 0.5) 50%,
            //         rgba(255, 255, 255, 0.5) 75%,
            //         transparent 75%,
            //         transparent)
        }

        .fl-post-grid-post {
            width: 350px !important;
        }
    }

    .fl-module-post-grid,
    .fl-module-content,
    .fl-post-grid,
    .fl-post-column,
    .fl-post-grid-post,
    .fl-post-grid-text {
        height: 100% !important;
    }

    .fl-post-grid-terms {
        margin-bottom: 15px;

        span.fl-terms-label+div {
            display: flex;
            align-items: center;

            .fl-post-grid-terms-acf-thumbnail {
                margin-right: 9px;
            }
        }

        a {
            font-family: "Poppins";
            font-weight: 700;
            color: $primary-color;
            font-size: 14px;
            text-transform: uppercase;
        }

    }

    .fl-post-grid-title {
        a {
            transition: 0.25s ease-in;

            &:hover {
                color: $primary-color-light
            }
        }
    }

    .fl-post-grid-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .fl-post-grid-content {
            padding-bottom: 50px;
        }

        .fl-post-grid-more {
            color: $primary-color-light !important;
            font-weight: bold;
            margin-top: auto;
            margin-bottom: 20px;
            border-bottom: 2px solid transparent;
            @include transition(all 0.2s ease-out);

            &:focus,
            &:hover {
                border-bottom: 2px solid $primary-color-light;

                i {
                    opacity: 1;
                    margin-left: 10px;
                }
            }

            i {
                opacity: 0;
                margin-left: 0;
            }
        }
    }
}

.bb-the-latest-posts {

    .fl-row-content-wrap {
        padding-right: 0;
    }

    &--posts>.fl-col-content {
        max-width: 380px;
    }


    .fl-module-post-grid,
    .fl-module-content,
    .fl-post-grid,
    .fl-post-column,
    .fl-post-grid-post,
    .fl-post-grid-text {
        height: 100% !important;
    }

    .fl-post-grid-terms {
        margin-bottom: 15px;

        span.fl-terms-label+div {
            display: flex;
            align-items: center;

            .fl-post-grid-terms-acf-thumbnail {
                margin-right: 9px;
            }
        }

        a {
            font-family: "Poppins";
            font-weight: 700;
            color: $primary-color;
            font-size: 14px;
            text-transform: uppercase;
        }

    }

    .fl-post-grid-title {
        a {
            transition: 0.25s ease-in;

            &:hover {
                color: $primary-color-light
            }
        }
    }

    .fl-post-grid-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .fl-post-grid-content {
            padding-bottom: 50px;
        }

        .fl-post-grid-more {
            margin-top: auto;
            margin-bottom: 20px;
            @include cogito-text-cta();
        }
    }

    @include breakpoint("lg-max") {

        .fl-node-5f929d68957fe,
        .fl-node-5fabb50d1eaa8 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
                  &::-webkit-scrollbar-track {
                      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                      background-color: #F5F5F5;
                      border-radius: 10px;
                  }

                  &::-webkit-scrollbar {
                      width: 10px;
                      background-color: #F5F5F5;
                  }

                  &::-webkit-scrollbar-thumb {
                      background-color: #ccc;
                      border-radius: 10px;
                      // background-image: -webkit-linear-gradient(0deg,
                      //         rgba(255, 255, 255, 0.5) 25%,
                      //         transparent 25%,
                      //         transparent 50%,
                      //         rgba(255, 255, 255, 0.5) 50%,
                      //         rgba(255, 255, 255, 0.5) 75%,
                      //         transparent 75%,
                      //         transparent)
                  }

            .fl-col {
                width: 350px !important;
            }
        }

        .fl-row-content-wrap {

            .fl-col-content {
                margin-right: 10px;
                margin-left: 10px;
            }

            .fl-post-column,
            .fl-col {
                flex-shrink: 0;
            }

            .fl-post-column {
                width: 100% !important;
            }
        }
    }
}

.fl-post-grid-terms-acf-thumbnail {

    img,
    span.fl-post-grid-terms-acf-thumbnail__empty {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid $lightest-grey-5;
        object-fit: cover;
        display: block;
    }

    span.fl-post-grid-terms-acf-thumbnail__empty {
        background-color: $lightest-grey-5;
    }
}