//	@ Author: Consensus Interactive
//	@ Author URI: ConsensusInteractive.com
//	@ Description: 3 Custom Text Blocks

.microsite-featured-text-block {
    .fl-html {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        display: inline-block;
        border-radius: 35px;
        padding: 8px 50px;
        font-family: $primary-font-stack;
        font-size: 16px;
        font-weight: 600;
        background-color: #C084A3;
    }

    .fl-col {
        max-width: 100%;
    }
}

// .microsite-featured-text-block

.microsite--content-column {
    position: relative;
    max-width: 100% !important;

    .fl-html {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        display: inline-block;
        border-radius: 35px;
        padding: 5px 20px;
        font-family: $primary-font-stack;
        font-weight: 600;
    }

    .fl-module-rich-text {
        min-height: 140px;
    }

    &:nth-child(1) {
        .fl-html {
            background-color: #277F57;
        }
    }

    &:nth-child(2) {
        .fl-html {
            background-color: #F26B6C;
        }
    }

    &:nth-child(3) {
        .fl-html {
            background-color: #C084A3;
        }
    }

    img {
        width: 100%;
    }
    
}

// .microsite--content-column