.fl-module-photo {
    &.fl-photo-side-sticky {
        img {
            max-height: 615px;
            object-fit: cover;
            width: 100%;
        }
    }
    &.header-full-width-img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-37%);
        max-width: 585px;
        max-height: 508px;
        width: 100%;
        height: 100%;
        .fl-module-content, .fl-photo, .fl-photo-content  {
            width: 100%;
            height: 100%;
        }
        .fl-module-content {
            margin: 0;
        }
        .fl-photo-content {
            width: 100%;
            height: 100%;
            // max-width: 585px;
            // max-height: 508px;
            // width: 100%;
            // height: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}