.leadership-members {
    .card-body {
        padding: 0;
        padding-top: 10px;

        & > div {
            margin-left: 35px;
            margin-right: 35px;
        }

        .card-link {
            height: 86px;
            width: 100%;
            padding-left: 35px;

            &:hover {
               background-color: #F26B6C;
                color: white;

                & > div {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}

.white-backdrop {
    .modal-backdrop {
        opacity: 0 !important;
        background-color: transparent;
    }
}
