// @ Author: Consensus Interactive
// @ Author URI: ConsensusInteractive.com
// @ Description: Buttons

.button-group {
    .button:first-child {
        margin-right: 20px;
    }
}

.button,
.btn-primary {
    display: inline-block;
    background-color: $primary-color;
    color: $white;
    font-family: $primary-font-stack;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    min-height: 52px;
    border: 2px solid $primary-color !important;
    border-radius: 0 !important;
    
    &:hover {
        text-decoration: none;
        // border: 2px solid $primary-color !important;
    }
}

.white--button,
.button--white,
.button-white,
.white-button {
     display: inline-block;
     background-color: $white !important;
     color: $primary-color !important;
     font-family: $primary-font-stack;
     font-size: 16px;
     font-weight: 700;
     padding: 15px 30px;
     min-height: 52px;
     border: 2px solid $primary-color !important;

     &:hover {
         text-decoration: none;
        //  border: none !important;
     }
}

.fl-button-group-buttons {
    .fl-button {
        min-width: 150px;
    }
}